//for top menu
@font-face {
  font-family: 'reverie_italicitalic';
  src: url('../fonts/reverie_italic-webfont.eot');
  src: url('../fonts/reverie_italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/reverie_italic-webfont.woff') format('woff'),
  url('../fonts/reverie_italic-webfont.ttf') format('truetype'),
  url('../fonts/reverie_italic-webfont.svg#reverie_italicitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titilliumtext22l_ltmedium';
  src: url('../fonts/titilliumtext22l004-webfont.eot');
  src: url('../fonts/titilliumtext22l004-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/titilliumtext22l004-webfont.woff') format('woff'),
  url('../fonts/titilliumtext22l004-webfont.ttf') format('truetype'),
  url('../fonts/titilliumtext22l004-webfont.svg#titilliumtext22l_ltmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

//for site
@font-face {
  font-family: 'cuprumregular';
  src: url('../fonts/cuprum-regular-webfont.eot');
  src: url('../fonts/cuprum-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cuprum-regular-webfont.woff') format('woff'),
  url('../fonts/cuprum-regular-webfont.ttf') format('truetype'),
  url('../fonts/cuprum-regular-webfont.svg#cuprumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monika';
  src: url('../fonts/monika-webfont.eot');
  src: url('../fonts/monika-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/monika-webfont.woff') format('woff'),
  url('../fonts/monika-webfont.ttf') format('truetype'),
  url('../fonts/monika-webfont.svg#monika') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'monika-bold';
  src: url('../fonts/monika_bold-webfont.eot');
  src: url('../fonts/monika_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/monika_bold-webfont.woff') format('woff'),
  url('../fonts/monika_bold-webfont.ttf') format('truetype'),
  url('../fonts/monika_bold-webfont.svg#monika-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab-bold';
  src: url('../fonts/robotoslab-bold-webfont.eot');
  src: url('../fonts/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-bold-webfont.woff') format('woff'),
  url('../fonts/robotoslab-bold-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-bold-webfont.svg#robotoslab-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab-light';
  src: url('../fonts/robotoslab-light-webfont.eot');
  src: url('../fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-light-webfont.woff') format('woff'),
  url('../fonts/robotoslab-light-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-light-webfont.svg#robotoslab-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab-regular';
  src: url('../fonts/robotoslab-regular-webfont.eot');
  src: url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
  url('../fonts/robotoslab-regular-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-regular-webfont.svg#robotoslab-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoslab-thin';
  src: url('../fonts/robotoslab-thin-webfont.eot');
  src: url('../fonts/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/robotoslab-thin-webfont.woff') format('woff'),
  url('../fonts/robotoslab-thin-webfont.ttf') format('truetype'),
  url('../fonts/robotoslab-thin-webfont.svg#robotoslab-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}