.footer {
  text-align: center;
  position: relative;
  padding-top: 8px;
  padding-bottom: 15px;

  &:before {
    background: image-url("bg/bottom_wood_top.jpg");
    height: 8px;
    @include pseudo-block($top: 0, $left: 0, $right: 0);
  }
}

.footer-inner {
  padding-top: 15px;

  .link {
    font-family: $quantico;
    text-decoration: none;
    color: #9e501e;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
  }

  .list-share {
    padding: 0;
    margin: 0;
    list-style: none;

    a {
      @include text-hide;
      display: block;
    }
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
  }

  .item-facebook a {
    @include oneline-sprite-box($icons, share-facebook);
  }

  .item-twitter a {
    @include oneline-sprite-box($icons, share-twitter);
  }

  .item-mail a {
    @include oneline-sprite-box($icons, share-mail);
  }
}