p {
  font: "robotoslab-regular", sans-serif;
  font-size: 0.9375em;
  color: #402313;
}

p span {
  font: "robotoslab-bold", sans-serif;
  font-size: 1.4375em;
  color: #804200;
}

p strong {
  font-weight: normal;
  font: "robotoslab-bold", sans-serif;
}